@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Darker Grotesque', monospace, sans-serif;
    background-color: black;
    color: #ccc;
    height: 100vh;
    justify-content: center;
    background-image: url(/static/misc-icon-removebg.png);
    backdrop-filter: blur(10px) brightness(0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    overflow: hidden;
}

.oh-no {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    font-weight: 700;
    color: #2ac008bf;
}

.error-msg {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
}

.correct-link {
    position: absolute;
    bottom: 20px;
    padding: 5px;
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
}

.redirect-button {
    background-color: transparent;
    color: #25cc00d6;
    font-size: 1.3rem;
    border: none;
    text-decoration: underline;
}