@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Darker Grotesque', monospace, sans-serif;
}

body{
    background-color: black;
    overflow-x: hidden;
    margin: 5px;
}

::selection{
    color: black;
    background-color: white;
}

.nav-list {
    margin-bottom: 10px;
}

.events li{
    color: #26cc00;
    cursor: default;
}

.events span{
    color: white;
    text-decoration: double;
    text-shadow: 1px 1px #26cc00;
    cursor: default;
    letter-spacing: 6px;
    cursor: default;
}

.current-events, .past-events {
    margin-top: 30px;
}

.current-events-title, .past-events-title {
    box-sizing: border-box;
    border: 0.1rem solid white;
    padding: 5px;
    padding-top: 0;
    box-shadow: 4px 4px 6px #239609;
    text-shadow: #239609 3px 3px 3px;
}

.current-events-title, .current-line, .past-events-title, .past-line {
    font-size: 1.6rem;
    font-weight: 500;
}

.current-line, .past-line {
    width: 100%;
    height: 0px;
    vertical-align: middle;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    border: none;
    height: 0.3rem;
    margin-block-start: 0.7em;
}

.left-line {
    background: linear-gradient(to left, #239609, #64717400);
}

.right-line {
    background: linear-gradient(to right, #239609, #64717400);
}

.card-container{
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 20px;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: 0 40px 0 40px;
}

.card{
    position: relative;
    letter-spacing: normal;
    width: 360px;
    height: 400px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px #26cc00;
    /* border: 1.5px solid #26cc00; */
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    overflow: hidden;
    transition-property: transform,box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    max-height: 1000px;
    filter: drop-shadow(0 0px 0px);
    text-align: left;
}

.card:hover{
    cursor: pointer;
    box-shadow: 6px 6px 7px #26cc00;
    background-color: #f9fdff;
    transform: translateX(-5px) translateY(-5px) scale(1.05);
    min-height: 390px;
    background-color: black;
    color: white;
    overflow: hidden;
    .card-content {
        overflow: hidden;
    }
}

.card-content {
    padding-bottom: 10px;
}

.event-box,.event-box:hover {
    overflow: hidden;
}

.event-box {
    z-index: 4;
}

.ev-card {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.ev-card::before {
    filter: blur(30px);
    content: " ";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    border-radius: 8px;
    transform: skewX(-60deg);
    transition: 0.5s;
    background: linear-gradient(176deg, #26cc00, #64717400);
    opacity: 0.6;
    overflow: hidden;
}

.ev-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(-10deg);
    transition: 0.5s;
    filter: blur(120px);
    background: linear-gradient(176deg, #26cc00, #64717400);
    opacity: 0.6;
    overflow: hidden;
}

.ev-card:hover:before,
.ev-card:hover:after {
  transform: skewX(0deg);
  left: 0px;
  width: 100%;
  background: linear-gradient(to right, #25cc0090, transparent);
  opacity: 0.5;
}

.ev-card span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
  
.ev-card span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
  
.ev-card:hover span::before {
    top: -50px;
    left: 50px;
    width: 70px;
    height: 70px;
    opacity: 1;
}
  
.ev-card span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -70px;
    margin-bottom: -30px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation-delay: -1s;
    z-index: -1;
}
  
.ev-card:hover span::after {
    bottom: -20px;
    right: 50px;
    width: 70px;
    height: 70px;
    opacity: 1;
    z-index: -1;
}
  
@keyframes animate {
    0%,
    100% {
      transform: translateY(10px);
    }
  
    50% {
      transform: translate(-10px);
    }
}

.card-clicked, .card-clicked:hover{
    position: fixed;
    letter-spacing: normal;
    width: 550px;
    height: 520px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 3px #26cc00;
    border: 1.5px solid #26cc00;
    border-radius: 5px;
    cursor: default;
    background-color: black;
    color: white;
    overflow: hidden;
    transition: none;
    transform: none;
    max-height: 550px;
    z-index: 10;
    filter: drop-shadow(0 0px 0px);
    text-align: left;
    top: 0;

    .card-header img {
        object-fit: cover;
    }

    .event-desc {
        box-sizing: border-box;
        height: 30vh;
        font-size: 1.3rem;
    }
}

.overlay {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 20px;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.overlay-clicked {
    position: fixed;
    cursor: pointer;
    margin: 0;
    top: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0.8;
    background-color: #323232;
    filter: blur(12px);
    box-sizing: border-box;
}

.event-title {
    margin: 10px 10px 5px;
    font-size: 1.7rem;
    box-sizing: border-box;
}

.event-date {
    margin: 0px 10px 10px;
    font-size: 1.15rem;
    box-sizing: border-box;
}

.location {
    position: absolute;
    right: 10px;
    margin: 0px 10px 0px;
    font-size: 1.15rem;
    box-sizing: border-box;   
}

.time {
    margin: 0px 10px 10px;
    font-size: 1.15rem;
    box-sizing: border-box;
}

.event-desc {
    box-sizing: border-box;
    font-size: 1.2rem;
    margin: 0 10px 0;
    line-height: 23px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header img{
    display: flex;
    width: 250%;
    height: 200px;
    object-fit: cover;
}

.current-title, .past-title {
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
}

.date-location {
    display: flex;
    width: 100%;
}

.fa-location-dot {
    font-size: 1rem;
    padding: 2px;
    padding-bottom: 10px;
    color: rgba(213, 41, 41, 0.599);
    filter: drop-shadow(1px 1px 3px);
}

.directions-div {
    font-size: 0.9rem;
    display: inline;
    position: absolute;
    right: 30px;
    margin: 0;
    padding-bottom: 0px;
    text-decoration: underline;
    color: rgb(82, 168, 255);
    cursor: pointer;
}


.fa-compass {
    padding: 2px;
    font-size: 0.9rem;
    margin-left: 7px;
}

.nav-header {
    position: static;
}

.tick-credits {
    display: none;
}

.ppt-link {
    font-size: 1rem;
    text-decoration: underline;
    color: rgb(82, 168, 255);
    cursor: pointer;
    word-break: break-all;
}