::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #26cc00a3;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #26cc00;
}

::-webkit-scrollbar-track {
    background-color: #26cc003c;
}