@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Montserrat&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Darker Grotesque' sans-serif;
}

body{
    background-color: black;
}

::selection{
    color: black;
    background-color: white;
}

.sponsors a{
    color: #26cc00;
    cursor: default;
}

.sponsors span{
    color: white;
    text-decoration: double;
    text-shadow: 1px 1px #26cc00;
    letter-spacing: 6px;
    cursor: default;
}
/* 
.coming-soon {
    text-align: center;
    position: relative;
    font-size: 2.5rem;
    box-sizing: border-box;
    margin: 50px;
    height: 25vw;
    top: 7vw;
    text-shadow: #26cc00 5px 3px 5px;
} */

/* .footer {
    display: block;
    width: 100%;
    bottom: 10px;
    margin: auto;
} */

/* .sponsor-vid { 
    background-image: url(sponsor\ wall\ new.gif); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: absolute; 
    opacity: 0.2;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
}  */

.sponsor-msg {
    font-size: 1.7rem;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

.sponsor-mail {
    text-decoration: none;
    color: rgb(83, 145, 233);
}

.mail-txt {
    box-sizing: border-box;

}

.sponsor-box-container {
    justify-content: center;
}

.sponsor-box {
    box-sizing: border-box;
    display: flex !important;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    transition: all 0.5s;
}

.all-sponsors {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s;
    margin: 0 auto 0 auto;
    padding: 0;
}

.plat {
    border: 2px solid #E5E4E2;
    color: #E5E4E2;
}

.gold {
    border: 2px solid gold;
    color: gold;
}

.silver {
    border: 2px solid silver;
    color: silver;
}

.all-tier {
    margin-top: 0;
    margin-bottom: 30px;
    border: 2px solid #26cc00;
    color: #26cc00;
    filter: drop-shadow(0 1px 3px);
}

.sponsor-title {
    position: relative;
    padding: 7px;
    font-weight: 500;
    transition: all 0.7s;
    text-align: center;
    top: -5px;
}

.current-sponsors-title {
    background-image: linear-gradient(to right, #20ad00aa, rgba(32, 88, 0, 0.336), black, rgba(32, 88, 0, 0.336), #20ad00aa);
    opacity: 0.9;
    filter: drop-shadow(0 2px 5px);
    z-index: 4;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: #26cc00;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-shadow: #26cc00 0 2px 5px;
    vertical-align: middle;
}

body {
    margin: 0;
}

.sponsor-box:hover, table:hover {
    scale: 1.05;
    .sponsor-title {
        margin-left: -37vw;
    }
    .plat-title {
        font-size: 2.3rem;
    }
    .gold-title {
        font-size: 2.1rem;
    }
    .silver-title {
        font-size: 1.9rem;
    }
    .all-title {
        font-size: 1.7rem;
    }
}


.plat-title {
    font-size: 2.2rem;
    color: #E5E4E2;
}

.gold-title {
    font-size: 2rem;
    color: gold;
}

.silver-title {
    font-size: 1.8rem;
    color: silver;
}

.all-title {
    font-size: 1.5rem;
    color: #26cc00;
}

.sponsor-img {
    display: flex;
    align-self: center;
    padding: 5px;
}

.plat img {
    width: 340px;
    height: auto;
    filter: none;
}

.gold img {
    width: 300px;
    height: auto;
    filter: none;
}
